<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content=" " />
    <meta name="description" content=" " />
    <meta http-equiv="x-ua-compatible" content="IE=Edge, chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title>测试页面</title>
    <link rel="stylesheet" type="text/css" href="" />
</head>
<body>
    <a href="demo/deferred">1.Deferred</a> 这个是测试一下jQuery的Deferred <br />
    <a href="../ws">2.webSocket</a>
</body>
</html>

