<!DOCTYPE html>
<html>
  <head>
    <title>Node-Mogondb-API</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  </head>
  <body>
    <h2>Node-Express-Mogondb-API</h2>
    <p>能看到这里说明你已经把服务启动起来了，恭喜您</p>
  </body>
</html>
